{% extends "bus_booking/base.html" %}

{% block content %}
<h1 class="mb-4">Available Trips</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Bus</th>
            <th>From</th>
            <th>To</th>
            <th>Time</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if trips %}
            {% for trip in trips %}
            <tr>
                <td>{{ trip.bus_name }}</td>
                <td>{{ trip.origin }}</td>
                <td>{{ trip.destination }}</td>
                <td>{{ trip.departure_time }}</td>
                <td>KSH{{ trip.price }}</td>
                <td>
                    <a href="{% url 'book_trip' trip.id %}" class="btn btn-sm btn-success">Book</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="6">No available trips.</td></tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
